{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volpe Men's Fashion & Couture</title>
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="image/x-icon" href="{% static 'images/logos/favicon.png' %}">
</head>
<body>

    <!-- Header (Navbar) -->
    <section id="header">
            <!-- Logo -->
            <a href="#"><img src="{% static 'images/logos/VolpeWhite.png' %}" alt="logo-volpe" id="volpe-logo"></a>
            <!-- Proper navbar elements -->
            <ul id="navbar">
                <li><a href="index.html" class="navbar-element important-text active">Inicio</a></li>
                <li><a href="login.html" class="navbar-element important-text" id="my-account">Mi Cuenta</a></li>

                <ul id="account-options">
                    <li><a href="register.html" class="important-text">Registrarse</a></li>
                    <li><a href="login.html" class="important-text">Iniciar Sesión</a></li>
                </ul>

                <li><a href="tienda.html" class="navbar-element important-text">Tienda</a></li>
                <li><a href="about.html" class="navbar-element important-text">Quienes Somos</a></li>
                <li><a href="contact.html" class="navbar-element important-text">Contacto</a></li>
                <li><a href="cart.html"><span class="material-symbols-outlined" id="shop-icon">shopping_cart</span></a></li>
                <a href="#"><i id="close" class="bi bi-x-lg"></i></a>
            </ul>

            <div id="mobile">
                <a href="cart.html"><span class="material-symbols-outlined" id="shop-icon">shopping_cart</span></a>
                <i id="bar" class="bi bi-list active"></i>
            </div>
    </section>

    <!-- Hero -->
    <section id="hero">
        
        <h4 class="important-text">Los mejores estilos</h4>
        <h2 class="orange-text important-text">Para ellos.</h2>
        <h4 id="hero-subtitle" class="important-text">Hasta un 25% de descuento</h4>

        <button class="important-text white-text">¡Mira las ofertas!</button>

    </section>

    <!-- Featured Products -->
    <section id="featured" class="section-p1">
        <h2 id="featured-title" class="important-text">Productos Destacados</h2>

        <div class="card-container">

            <div class="card">
                <img src="{% static 'images/clothes/shirt-blue.jpg' %}" alt="male-shirt" width="60px" height="90px" class="card-image-background">
                <div class="card-data">
                    <h2 class="yellow-text card-title important-text">Camisa Casual</h2>
                    <h4 class="card-subtitle important-text">Volpe Fashion</h4>
                    <img src="{% static 'images/props/5-Stars-PNG-Transparent.png' %}" alt="stars" height="50vh">
                    <div class="price-and-button">
                        <h2 class="card-title bold">$19.99</h2>
                        <a href="cart.html"><button class="material-symbols-outlined" id="price-button">shopping_cart</button></a>
                    </div>
                </div>
            </div>

            <div class="card">
                <img src="{% static 'images/clothes/shirt-gray.jpg' %}" alt="male-shirt" width="60px" height="90px" class="card-image-background">
                <div class="card-data">
                    <h2 class="yellow-text card-title important-text">Camisa Casual</h2>
                    <h4 class="card-subtitle important-text">Volpe Fashion</h4>
                    <img src="{% static 'images/props/5-Stars-PNG-Transparent.png' %}" alt="stars" height="50vh">
                    <div class="price-and-button">
                        <h2 class="card-title bold">$19.99</h2>
                        <a href="cart.html"><button class="material-symbols-outlined" id="price-button">shopping_cart</button></a>
                    </div>
                </div>
            </div>

            <div class="card">
                <img src="{% static 'images/clothes/shirt-red.jpg' %}" alt="male-shirt" width="60px" height="90px" class="card-image-background">
                <div class="card-data">
                    <h2 class="yellow-text card-title important-text">Camisa Casual</h2>
                    <h4 class="card-subtitle important-text">Volpe Fashion</h4>
                    <img src="{% static 'images/props/5-Stars-PNG-Transparent.png' %}" alt="stars" height="50vh">
                    <div class="price-and-button">
                        <h2 class="card-title bold">$19.99</h2>
                        <a href="cart.html"><button class="material-symbols-outlined" id="price-button">shopping_cart</button></a>
                    </div>
                </div>
            </div>

            <div class="card">
                <img src="{% static 'images/clothes/shirt-white.jpg' %}" alt="male-shirt" width="60px" height="90px" class="card-image-background">
                <div class="card-data">
                    <h2 class="yellow-text card-title important-text">Camisa Casual</h2>
                    <h4 class="card-subtitle important-text">Volpe Fashion</h4>
                    <img src="{% static 'images/props/5-Stars-PNG-Transparent.png' %}" alt="stars" height="50vh">
                    <div class="price-and-button">
                        <h2 class="card-title bold">$19.99</h2>
                        <a href="cart.html"><button class="material-symbols-outlined" id="price-button">shopping_cart</button></a>
                    </div>
                </div>
            </div>


        </div>
    </section>

    <!-- Suit Rentals -->
    <section id="rentals">
        <h2 class="important-text white-text" id="rentals-header">Servicio de Alquiler de Trajes</h2>
        <h3 class="important-text">Hasta un <span class="important-text orange-text">50% de descuento</span></h3>
        <h3 class="important-text">en trajes <span class="important-text yellow-text">elegantes, modernos y de marca.</span></h3>
        <a href="tienda.html"><button class="important-text" id="rental-button">Explora nuestras opciones</button></a>
    </section>

    <!-- Newsletter -->
    <section id="newsletter">
        
        <div id="news-data">
            <h2>Recibe mensajes con las mejores ofertas</h2>
            <h4>No te pierdas la oportunidad de <span class="beige-text">vestir como un líder.</span></h4>
        </div>

        <div id="news-form">
            <input type="email" name="email" id="email-data" placeholder="tucorreoelectronico@correo.com"><button class="important-text white-text" id="email-button">Enviar</button>
        </div>
    </section>

    <!-- Footer -->
    <section id="footer">
        <div id="footer-data">
            <div id="footer-titles">
                <!-- About Us -->
                <h2 id="footer-title" class="important-text white-text footer-title">Acerca de Nosotros</h2>
                <!-- Account -->
                <h2 id="footer-title" class="important-text white-text footer-title">Mi Cuenta</h2>
                <!-- Contact -->
                <h2 id="footer-title" class="important-text white-text footer-title">Contacto</h2>
                <!-- Social Media -->
                <div id="social-media-items">
                    <button id="social-button"><i class="bi bi-facebook"></i></button>
                    <button id="social-button"><i class="bi bi-twitter"></i></button>
                    <button id="social-button"><i class="bi bi-instagram"></i></button>
                </div>
                <div id="footer-logos">
                    <a href="#"><img src="{% static 'images\logos\logo-white.png' %}" alt="logo-oscaralfrm" width="150px"></a>
                    <a href="#"><img src="{% static 'images\logos\VolpeWhite.png' %}" alt="logo-volpe" width="150px"></a>
                </div>
            </div>
        </div>

        <h4 id="footer-copyright" class="white-text footer-title">Ⓒ 2023. Volpe Men's Fashion & Couture, Tux Company. e-Commerce Ficticio. Página Web de Práctica.</h4>

    </section>

    <script src="{% static 'scripts/index.js' %}">></script>
</body>
</html>